<a href="https://colab.research.google.com/github/Akansha2201/jubilant-octo-engine/blob/main/Chipotle__Sales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Objective: Use the pandas library to perform basic data analysis over Chipotle sales data. This workout will provide you practice in introductory exploratory data analysis to understand your data.

Link to dataset: https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv



1. Which was the most-ordered item?
2. For the most-ordered item, how many items were ordered?
3. What was the most ordered item in the choice_description column?
4. How many items were ordered in total?
5. Convert the item price into a float.
6. How much was the revenue for the period in the dataset?
7. How many orders were made in the period?
8. What is the average revenue amount per order?
9. How many different items are sold?

# Importing Packages

In [ ]:
import pandas as pd

# Read tsv file as csv

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipotle_data = pd.read_csv(url, sep = '\t')

chipotle_data.head

# Which was the most ordered item?

In [ ]:
chipotle_most_ordered = chipotle_data.groupby('item_name') ['quantity'].sum().idxmax()
print ("Most ordered item:", chipotle_most_ordered)

Most ordered item: Chicken Bowl

# For the most-ordered item, how many items were ordered?

In [ ]:
num_chipotle_most_ordered = chipotle_data.groupby('item_name') ['quantity'].sum().max()
print ("Number of items ordered:", num_chipotle_most_ordered)

Number of items ordered: 761

# What was the most ordered item in the choice_description column?

In [ ]:
chipotle_most_ordered_choice = chipotle_data.groupby('choice_description') ['quantity'].sum().idxmax()
print ("Most ordered choice:", chipotle_most_ordered_choice)

Most ordered choice: [Diet Coke]

# How many items were ordered in total?

In [ ]:
chipotle_total_orders = chipotle_data['quantity'].sum()
print ("Total items ordered:",  chipotle_total_orders)

Total items ordered: 4972

# Convert the item price into a float.

In [ ]:
chipotle_data['item_price'].dtype
chipotle_data['item_price'] = chipotle_data['item_price'].astype(str)
chipotle_data['item_price'] = chipotle_data['item_price'].apply (lambda x: float ( x[1:]))
print("the item price column is of data type:", chipotle_data['item_price'].dtype)

the item price column is of data type: float64

# How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipotle_data['quantity'] * chipotle_data['item_price']).sum()
print("Revenue for the period: $" , round(revenue,2))

Revenue for the period: $ 39237.02

# How many orders were made in the period?

In [ ]:
total_orders = chipotle_data['order_id'].nunique()
print("total no. of orders:", total_orders)

total no. of orders: 1834

# What is the average revenue amount per order?

In [ ]:
average_revenue_per_order = revenue / total_orders
print("average revenue amount per order: $", round(average_revenue_per_order,2))

average revenue amount per order: $ 21.39

# How many different items are sold?

In [ ]:
total_items_sold = chipotle_data['item_name'].nunique(0)
print("Total items sold: ", total_items_sold)

Total items sold:  50